@charset "UTF-8";
a {
  color: #000;
}

html {
  font-size: 62.5%;
}
html.active {
  overflow-y: hidden;
}
@media screen and (min-width: 961px) {
  html.active {
    overflow-y: scroll;
  }
}

body {
  line-height: 1.5;
  font-family: "游ゴシック";
  font-size: 1.8rem;
}

.btn {
  margin-top: 34px;
}
.btn a {
  color: #fff;
  background-color: #E83728;
  font-weight: bold;
  border-radius: 5px;
}
@media screen and (max-width: 960px) {
  .btn a {
    padding: 16px 56px;
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 961px) {
  .btn a {
    padding: 16px 48px;
    font-size: 1.5rem;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 960px) {
  header {
    padding: 16px;
  }
}
@media screen and (min-width: 961px) {
  header {
    padding: 56px 64px;
  }
}
@media screen and (max-width: 960px) {
  header h1 {
    width: 96px;
  }
}
@media screen and (min-width: 961px) {
  header h1 {
    width: 128px;
  }
}
header h1 img {
  width: 100%;
}
@media screen and (max-width: 960px) {
  header nav {
    display: none;
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 998;
  }
  header nav.active {
    display: block;
  }
}
header nav ul {
  font-size: 1.4rem;
  font-weight: bold;
}
@media screen and (min-width: 961px) {
  header nav ul {
    display: flex;
    justify-content: space-between;
  }
}
header nav ul li {
  margin-left: 16px;
}
@media screen and (max-width: 960px) {
  header nav ul li {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 961px) {
  header nav ul li a:hover {
    text-decoration: underline;
  }
}
@media screen and (max-width: 960px) {
  header .sp_menu {
    position: absolute;
    width: 30px;
    height: 8px;
    top: 26px;
    right: 25px;
    cursor: pointer;
    z-index: 999;
  }
  header .sp_menu span {
    width: 100%;
    height: 1px;
    background-color: #E83728;
    position: absolute;
    display: block;
  }
  header .sp_menu span:first-child {
    top: 0;
  }
  header .sp_menu span:last-child {
    bottom: 0;
  }
  header .sp_menu.active span {
    transition: 0.2s;
  }
  header .sp_menu.active span:first-child {
    top: 5px;
    transform: rotate(45deg);
  }
  header .sp_menu.active span:last-child {
    top: 5px;
    transform: rotate(-45deg);
  }
}
@media screen and (min-width: 961px) {
  header .sp_menu {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .maintoparea {
    padding: 80px 16px 0 16px;
  }
}
@media screen and (min-width: 961px) {
  .maintoparea {
    padding: 160px 56px 0 60px;
  }
}
.maintoparea h2 img {
  width: 100%;
}
@media screen and (max-width: 960px) {
  .maintoparea h2:first-of-type {
    display: none;
  }
}
@media screen and (min-width: 961px) {
  .maintoparea h2:last-of-type {
    display: none;
  }
}
.maintoparea .mainvisualarea {
  padding-top: 32px;
}
.maintoparea .mainvisualarea img {
  width: 100%;
}

@media screen and (max-width: 960px) {
  .homeabout {
    padding: 32px 16px 64px 16px;
    background-color: #F5F5F5;
    margin-top: 24px;
  }
}
@media screen and (min-width: 961px) {
  .homeabout {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 56px 64px;
  }
}
@media screen and (min-width: 961px) {
  .homeabout .homeabout_left {
    width: calc(50% - 16px);
  }
}
.homeabout .homeabout_left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.homeabout .homeabout_right {
  border-radius: 20px;
}
@media screen and (min-width: 961px) {
  .homeabout .homeabout_right {
    width: calc(50% - 16px);
    background-color: #F5F5F5;
    padding: 7.6667vw;
  }
}
.homeabout .homeabout_right h2 {
  font-weight: bold;
}
@media screen and (max-width: 960px) {
  .homeabout .homeabout_right h2 {
    font-size: 2rem;
    text-align: center;
    margin: 32px 0;
  }
}
@media screen and (min-width: 961px) {
  .homeabout .homeabout_right h2 {
    font-size: 3.6rem;
    margin-bottom: 32px;
  }
}
.homeabout .homeabout_right p {
  line-height: 1.8;
}
@media screen and (max-width: 960px) {
  .homeabout .homeabout_right p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 960px) {
  .homeabout .homeabout_right .btn {
    text-align: center;
  }
}

@media screen and (max-width: 960px) {
  .careers {
    padding: 64px 16px;
    text-align: center;
  }
}
@media screen and (min-width: 961px) {
  .careers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 15vw;
  }
}
@media screen and (min-width: 961px) {
  .careers .careers_left {
    width: 70%;
  }
}
.careers .careers_left h2 {
  font-weight: bold;
  color: #E83728;
}
@media screen and (max-width: 960px) {
  .careers .careers_left h2 {
    font-size: 1.5rem;
  }
}
.careers .careers_left p {
  font-weight: bold;
  padding-top: 24px;
  line-height: 1.8;
}
@media screen and (max-width: 960px) {
  .careers .careers_left p {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 961px) {
  .careers .careers_left p {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 961px) {
  .careers .careers_right {
    width: 30%;
  }
}
.careers .careers_right .btn {
  text-align: center;
}

.specialtalk {
  background-color: #F2F2F2;
}
@media screen and (max-width: 960px) {
  .specialtalk {
    padding: 56px 16px;
  }
}
@media screen and (min-width: 961px) {
  .specialtalk {
    padding: 96px 80px;
  }
}
.specialtalk h2 {
  font-weight: bold;
  color: #E83728;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .specialtalk h2 {
    font-size: 1.5rem;
  }
}
.specialtalk ul {
  margin-top: 32px;
}
@media screen and (min-width: 961px) {
  .specialtalk ul {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 960px) {
  .specialtalk ul li {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 961px) {
  .specialtalk ul li {
    width: calc(50% - 16px);
  }
}
.specialtalk ul li img {
  width: 100%;
}
.specialtalk .specialtalk_text {
  font-weight: bold;
}
@media screen and (max-width: 960px) {
  .specialtalk .specialtalk_text {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 961px) {
  .specialtalk .specialtalk_text {
    font-size: 2.4rem;
    width: 50vw;
    margin: 56px auto 0 auto;
  }
}

@media screen and (max-width: 960px) {
  .partners {
    padding: 80px 16px;
  }
}
@media screen and (min-width: 961px) {
  .partners {
    padding-top: 160px;
  }
}
.partners h2 {
  font-weight: bold;
  color: #E83728;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .partners h2 {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 961px) {
  .partners h2 {
    font-size: 4rem;
  }
}
.partners ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 960px) {
  .partners ul {
    margin-top: 32px;
  }
}
@media screen and (min-width: 961px) {
  .partners ul {
    width: 60vw;
    margin: 80px auto;
  }
}
.partners ul li {
  border: 1px solid #EBEBEB;
  border-radius: 5px;
}
@media screen and (max-width: 960px) {
  .partners ul li {
    width: calc(50% - 8px);
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 961px) {
  .partners ul li {
    width: calc(25% - 24px);
    margin-bottom: 24px;
  }
}
.partners ul li img {
  width: 100%;
}

footer {
  border-top: 1px solid #EBEBEB;
  text-align: center;
}
@media screen and (max-width: 960px) {
  footer {
    padding: 32px 0;
  }
}
@media screen and (min-width: 961px) {
  footer {
    padding: 56px 0;
  }
}
footer h1 {
  text-align: center;
  margin: 0 auto 0 auto;
}
@media screen and (max-width: 960px) {
  footer h1 {
    width: 88px;
  }
}
@media screen and (min-width: 961px) {
  footer h1 {
    width: 120px;
  }
}
footer h1 img {
  width: 100%;
}
@media screen and (max-width: 960px) {
  footer ul {
    margin: 24px 0;
  }
}
@media screen and (min-width: 961px) {
  footer ul {
    margin: 40px 0;
  }
}
footer ul li {
  margin: 0 16px;
}
@media screen and (max-width: 960px) {
  footer ul li {
    font-size: 1rem;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 961px) {
  footer ul li {
    font-size: 1.2rem;
    display: inline;
  }
}
footer ul li a:hover {
  text-decoration: underline;
}
footer small {
  font-size: 1rem;
}/*# sourceMappingURL=style.css.map */